<div style="font-weight:bold;font-size:2em;">
	As per your request we have issued you a password reset token for FindMyFitness
</div>

<div style="margin-top:20px;">
	Your token is: <%= @token %>
</div>