.fmf-navbar {
	background-color:#444;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
}

.fmf-nav-menu {
	margin-top:20px;
	height:90px;
}

.fmf-nav-menu li {
	display:inline;
	margin-left:30px;
}

.fmf-nav-menu a {
	text-decoration:none;
}

.fmf-nav-menu a:hover {
	color:#FFF;
}

.fmf-nav-menu a.btn {
	color:#FFF;
}

.fmf-header-search {
	margin-top:-30px;
}

.header-search-input {
	width:100%;
	padding:5px;
	border:#888 2px solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.fmf-ellipse-search-button {
	border:none;
	padding:10px 20px;
	border-top-left-radius:20px;
	border-bottom-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-right-radius:20px;
	color:#FFF;
	background: #8bdcf4; /* Old browsers */
	background: -moz-linear-gradient(top,  #8bdcf4 0%, #0fb4e7 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bdcf4), color-stop(99%,#0fb4e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8bdcf4 0%,#0fb4e7 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8bdcf4 0%,#0fb4e7 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8bdcf4 0%,#0fb4e7 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #8bdcf4 0%,#0fb4e7 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bdcf4', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}

.fmf-ellipse-search-button:hover {
	background: #10c1f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #10c1f2 0%, #0fb4e7 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#10c1f2), color-stop(99%,#0fb4e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #10c1f2 0%,#0fb4e7 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #10c1f2 0%,#0fb4e7 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #10c1f2 0%,#0fb4e7 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #10c1f2 0%,#0fb4e7 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10c1f2', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
}