<!--Signup Modal-->
<div class="modal fade" id="signup-modal">
	<div class="modal-dialog modal-lg">
		<%= form_tag("/newuser", multipart: true) do %>
		<div class="modal-content">
			<div class="modal-body">
				<div class="large-title">
					Be a part of the fitness revolution and join now!
				</div>
				<div class="margin-top-10">
					You'll be able to write reviews, post photos, take part in forum discussions and receive notifications regarding our many giveaways and exclusive offers!
				</div>

				<div class="row margin-top-20">
					<div class="col-sm-6">
						<div class="medium-title">
							Sign Up Using Facebook
						</div>
						<div class="margin-top-50">
							<a href="/auth/facebook" class="fmf-ellipse-turquoise-button">
								<i class="fa fa-facebook"></i> | Sign Up With Facebook
							</a>
						</div>
						<div class="margin-top-50 medium-title">
							Upload Profile Image
						</div>
						<div class="margin-top-20">
							<input id="avatar" name="avatar" type="file">
						</div>
						<div class="margin-top-20 medium-title">
							About Me
						</div>
						<div class="margin-top-20">
							<textarea name="user[about_me]" class="form-control" placeholder="Tell us a little about yourself!"></textarea>
						</div>
					</div>
					<div class="col-sm-6">
							<div class="medium-title">
								New User
							</div>

							<div class="row margin-top-20">
								<div class="col-sm-6">
									<div class="bold">
										Username
									</div>
									<div class="margin-top-10">
										<input name="user[username]" type="text" class="form-control" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="bold">
										Password
									</div>
									<div class="margin-top-10">
										<input name="user[password]" type="password" class="form-control" />
									</div>
								</div>
							</div>

							<div class="row margin-top-20">
								<div class="col-sm-6">
									<div class="bold">
										First Name
									</div>
									<div class="margin-top-10">
										<input name="user[first_name]" type="text" class="form-control" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="bold">
										Last Name
									</div>
									<div class="margin-top-10">
										<input name="user[last_name]" type="text" class="form-control" />
									</div>
								</div>
							</div>

							<div class="margin-top-20">
								<div class="bold">
									Email
								</div>
								<div class="margin-top-10">
									<input name="user[email_address]" type="email" class="form-control" />
								</div>
							</div>

							<div class="row margin-top-20">
								<div class="col-sm-8">
									<div class="bold">
										City
									</div>
									<div class="margin-top-10">
										<input name="user[city]" type="text" class="form-control" />
									</div>
								</div>
								<div class="col-sm-4">
									<div class="bold">
										State
									</div>
									<div class="margin-top-10">
										<select name="user[state]" class="form-control">
											<option>CA</option>
										</select>
									</div>
								</div>
							</div>

							<div class="margin-top-20 bold">
								User Type
							</div>

							<div class="margin-top-10">
								<select name="user[user_type]" class="form-control">
									<option value="standard">Standard User</option>
									<option value="business">Business User</option>
								</select>
							</div>

							<div class="margin-top-20">
								<div class="checkbox">
									<label>
										<input type="checkbox"> I agree to the Terms of Service
									</label>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Signup</button>
			</div>
		</div><!-- /.modal-content -->
		<% end %>
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--/Signup Modal-->