<div class="bus-left-sidebar-menu">
	<a href="/business-admin/edit/<%= params[:business_id] %>">Profile</a>
	<a href="/business-admin/reviews/<%= params[:business_id] %>">Reviews</a>
	<a href="/business-admin/photos/<%= params[:business_id] %>">Photos</a>
	<a href="/business-admin/analytics/<%= params[:business_id] %>">Analytics</a>
</div>