<div class="col-sm-3">
	<div>
		<a href="/about">What is Find My Fitness</a>
	</div>
	<div class="margin-top-20">
		<a href="/contact">Contact Us</a>
	</div>
	<div class="margin-top-20">
		<a href="/careers">Careers</a>
	</div>
	<div class="margin-top-20">
		<a href="/advertise">Advertise with Us</a>
	</div>
	<div class="margin-top-20">
		<a href="/terms">Terms of Use</a>
	</div>
	<div class="margin-top-20">
		<a href="/privacy">Privacy Policy</a>
	</div>
</div>