<div class="left-sidebar-menu">
	<a href="/profile">Notifications</a>
	<a href="/profile/reviews">Your Reviews</a>
	<a href="/profile/posts">Your Posts</a>
	<a href="/profile/events">Your Events</a>
	<a href="/profile/photos">Your Photos</a>
	<a href="/profile/saves">Your Saves</a>
</div>