<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="/"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="/logout" class="btn btn-primary">Log Out</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->