<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="/"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu small-nav pull-right">
					<li><a href="/business/learn-more">Business Accounts</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/blogs">Blogs</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="#" data-toggle="modal" data-target="#signup-modal">Signup</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->