<% if session[:user_id] %>
<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="/"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="/events">Events</a></li>
					<li><a href="/blogs">Blogs</a></li>
					<%= render "partials/headers/dropdowns/logged_in_dropdown" %>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->
<% end %>

<% if !(session[:user_id]) %>
<!--Navbar-->
<div class="fmf-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 logo">
				<a href="/"><%= image_tag("logo.png") %></a>
			</div>
			<div class="col-sm-6">
				<ul class="fmf-nav-menu pull-right">
					<li><a href="/events">Events</a></li>
					<li><a href="/blogs">Blogs</a></li>
					<%= render "partials/headers/dropdowns/unlogged_dropdown" %>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Navbar-->
<% end %>