<!--Main-->
<%= form_tag do %>
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-12">
			<div class="extra-large-title">
				Create Your Business Profile
			</div>
			<div class="row margin-top-20">
				<div class="col-sm-4">
					<div class="bold">
						Name:
					</div>
					<div class="margin-top-10">
						<input type="text" name="business[name]" class="form-control" placeholder="Your Business Name" />
					</div>

					<div class="bold margin-top-20">
						Business Type:
					</div>
					<div class="margin-top-10">
						<select class="form-control" name="business[business_type]">
							<option value="Yoga">Yoga</option>
							<option value="Gyms">Gyms</option>
							<option value="Martial Arts">Martial Arts</option>
							<option value="Boxing">Boxing</option>
							<option value="Rock Climbing">Rock Climbing</option>
							<option value="Pilates">Pilates</option>
							<option value="Dance">Dance</option>
							<option value="Other">Other</option>
						</select>
					</div>

					<div class="bold margin-top-20">
						Hours and Availability:
					</div>
					<div class="margin-top-10">
						<textarea name="business[availability]" class="form-control" placeholder="Example: M - F 8 AM to 9 PM"></textarea>
					</div>
				</div>
				<div class="col-sm-8 business-signup-services">
					<div class="bold">
						Select Your Business Services:
					</div>
					<div class="margin-top-10">
						<div class="row">
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-weights">
										<input type="checkbox" name="services[weights]" value="Weights" id="check-weights"> Weights
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-running-track">
										<input type="checkbox" name="services[track]" value="Running Track" id="check-running-track"> Running Track
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-pool">
										<input type="checkbox" name="services[pool]" value="Swimming Pool" id="check-pool"> Swimming Pool
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-classes">
										<input type="checkbox" name="services[classes]" value="Fitness Classes" id="check-classes"> Fitness Classes
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-instructors">
										<input type="checkbox" name="services[instructors]" value="Personal Instructors" id="check-instructors"> Personal Instructors
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-pilates">
										<input type="checkbox" name="services[pilates]" value="Pilates" id="check-pilates"> Pilates
									</label>
								</div>
							</div>
						</div>
						<div class="row margin-top-10">
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-spa">
										<input type="checkbox" name="services[spa]" value="Spa" id="check-spa"> Spa
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-sauna">
										<input type="checkbox" name="services[sauna]" value="Sauna" id="check-sauna"> Sauna	
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-massage">
										<input type="checkbox" name="services[massage]" value="Massage" id="check-massage"> Massage Service
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-cycling">
										<input type="checkbox" name="services[cycling]" value="Cycling" id="check-cycling"> Cycling
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-courts">
										<input type="checkbox" name="services[courts]" value="Sport Courts" id="check-courts"> Sport Courts
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-cardio">
										<input type="checkbox" name="services[cardio]" value="Cardio" id="check-cardio"> Cardio
									</label>
								</div>
							</div>
						</div>

						<div class="row margin-top-10">
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-towels">
										<input type="checkbox" name="services[towels]" value="Towels" id="check-towels"> Towels
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-steam">
										<input type="checkbox" name="services[steam]" value="Steam Room" id="check-steam"> Steam Room
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-cafe">
										<input type="checkbox" name="services[cafe]" value="Cafeteria" id="check-cafe"> Cafeteria
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-child-care">
										<input type="checkbox" name="services[child-care]" value="Child Care" id="check-child-care"> Child Care
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-diet">
										<input type="checkbox" name="services[diet]" value="Dietary Consults" id="check-diet"> Dietary Consults
									</label>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="checkbox">
									<label for="check-meditation">
										<input type="checkbox" name="services[meditation]" value="Meditation Areas" id="check-meditation"> Meditation Areas
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row margin-top-20">
				<div class="col-sm-6">
					<div class="medium-title">
						Location
					</div>
					<div class="margin-top-20 bold">
						Address:
					</div>
					<div class="margin-top-10">
						<input type="text" name="business[address]" class="form-control" placeholder="Address" />
					</div>
					<div class="row margin-top-20">
						<div class="col-sm-4">
							<div class="bold">
								City:
							</div>
							<div class="margin-top-10">
								<input type="text" name="business[city]" class="form-control" placeholder="City" />
							</div>
						</div>
						<div class="col-sm-4">
							<div class="bold">
								State:
							</div>
							<div class="margin-top-10">
								<select class="form-control" name="business[state]">
									<option>CA</option>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="bold">
								Zipcode:
							</div>
							<div class="margin-top-10">
								<input type="text" name="business[zipcode]" class="form-control" placeholder="Zipcode" />
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="medium-title">
						Contact Information
					</div>
					<div class="margin-top-20 bold">
						Phone Number:
					</div>
					<div class="margin-top-10">
						<input type="tel" name="business[phone]" class="form-control" placeholder="Phone Number" />
					</div>
					<div class="margin-top-20 bold">
						Website:
					</div>
					<div class="margin-top-10">
						<input type="text" name="business[website]" class="form-control" placeholder="Website" />
					</div>
				</div>
			</div>
			<div class="margin-top-50">
				<div class="medium-title">
					Description
				</div>
				<div class="margin-top-10">
					<textarea name="business[description]" class="form-control bus-description-edit"></textarea>
				</div>
			</div>
			<div class="margin-top-20 pull-right">
				<a href="/">
					<button class="fmf-ellipse-gray-button">Cancel</button>
				</a>
				<button class="fmf-ellipse-turquoise-button margin-left-20" type="submit">Submit Business</button>
			</div>
		</div>
	</div>
</div>
<!--/Main-->
<% end %>