<input type="hidden" id="page_id" value="business_learn" />
<!--Business Learn Banner-->
<div id="business-learn-banner">
	<div class="business-learn-cta">
		<h1>Find My Fitness connects you to active customers.</h1>
		<div class="margin-top-20">
			<a href="#" class="btn btn-info btn-lg">
				Sign Up Today
				<br />
				<span class="small">$19.99/Month</span>
			</a>
		</div>
	</div>
</div>
<!--/Business Learn Banner-->

<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-6">
			<h3>Make it easy to find your business</h3>
			<div>
				Allow users to find you by providing up to date information regarding your business. Add your business name, address and accurately report your hours of operations. Include a link to your website to provide additional information to curious users.
			</div>
		</div>
		<div class="col-sm-6">
			<img src="/assets/business_signup/feature-easytofind.png" class="img-responsive" />
		</div>
	</div>

	<div class="rule-divider margin-top-20"></div>

	<div class="row margin-top-20">
		<div class="col-sm-6">
			<img src="/assets/business_signup/feature-photos.png" class="img-responsive" />
		</div>
		<div class="col-sm-6">
			<h3>Full control of uploaded photos</h3>
			<div>
				Add photographs to show users what you want them to see.
			</div>
		</div>
	</div>

	<div class="rule-divider margin-top-20"></div>

	<div class="row margin-top-20">
		<div class="col-sm-6">
			<h3>Create a blog to connect with users</h3>
			<div>
				Create posts and keep connected with users. Share photos of weekly classes, advertise your deals, or post updates about your business.
			</div>
		</div>
		<div class="col-sm-6">
			<img src="/assets/business_signup/feature-blog.png" class="img-responsive" />
		</div>
	</div>

	<div class="rule-divider margin-top-20"></div>

	<div class="row margin-top-20">
		<div class="col-sm-6">
			<img src="/assets/business_signup/feature-respond.png" class="img-responsive" />
		</div>
		<div class="col-sm-6">
			<h3>Respond to reviews and posts</h3>
			<div>
				Stay connected with your users. Respond to reviews and blog posts to provide a positive voice for your business.
			</div>
		</div>
	</div>

	<div class="rule-divider margin-top-20"></div>

	<div class="row margin-top-20">
		<div class="col-sm-6">
			<h3>Create and advertise your events</h3>
			<div>
				Have open classes? Create an event to market your business and attract new customers.
			</div>
		</div>
		<div class="col-sm-6">
			<img src="/assets/business_signup/feature-event.png" class="img-responsive" />
		</div>
	</div>

	<div class="rule-divider margin-top-20"></div>

	<div class="row margin-top-20">
		<div class="col-sm-6">
			<img src="/assets/business_signup/feature-seo.png" class="img-responsive" />
		</div>
		<div class="col-sm-6">
			<h3>Add a description for SEO</h3>
			<div>
				Users will be able to search for what they want using keywords, whether it is capoeira, hatha yoga, or jiu-jitsu, list the services your business offers in the description textbox. By listing all the services your business offers, your business will appear in the search results whenever a users search using keywords.
			</div>
		</div>
	</div>

	<div class="rule-divider margin-top-20"></div>

	<div class="row margin-top-20">
		<div class="col-sm-6">
			<h3>Gain insights with analytics</h3>
			<div>
				This to be developed.
			</div>
		</div>
		<div class="col-sm-6">
			<img src="/assets/business_signup/feature-analytics.png" class="img-responsive" />
		</div>
	</div>

	<div class="rule-divider margin-top-20"></div>

	<div class="row margin-top-20">
		<h3>Give the boost your fitness business needs today!</h3>
		<div class="margin-top-20">
			<a href="#" class="btn btn-info btn-lg">
				Sign Up Today
				<br />
				<span class="small">$19.99/Month</span>
			</a>
		</div>
	</div>
</div>