<!--Main-->
<div class="container margin-top-50 margin-bottom-50">
	<h1 class="txt-center">Sorry! We couldn't find your location.</h1>
	<div class="margin-top-50 txt-center">
		<button class="btn btn-primary btn-lg" id="reload-page" type="button">Try Again</button>
	</div>
</div>
<!--/Main-->

<%= render "partials/modals/add_business_modal" %>