<!--Footer-->
<div class="footer-wrapper">
	<div class="container margin-top-20 margin-bottom-30">
		<div class="row">
			<div class="col-sm-3">
				<div>
					<img src="/assets/logo.png" class="img-responsive" />
				</div>
				<div class="margin-top-10 gray-text">
					FindMyFitness helps people connect with their local health and fitness community. For questions or support contact <a href="mailto:support@findmyfitness.com">support@findmyfitness.com</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="medium-title gray-text regular-weight">
					About Find My Fitness
				</div>
				<div class="margin-top-10">
					<a href="#" class="white-link">What is Find My Fitness</a>
				</div>
				<div class="margin-top-10">
					<a href="#" class="white-link">Contact Us</a>
				</div>
				<div class="margin-top-10">
					<a href="#" class="white-link">Careers</a>
				</div>
				<div class="margin-top-10">
					<a href="#" class="white-link">Advertise With Us</a>
				</div>
				<div class="margin-top-10">
					<a href="#" class="white-link">Terms of Use</a>
				</div>
				<div class="margin-top-10">
					<a href="#" class="white-link">Site Map</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="medium-title gray-text regular-weight">
					Popular Categories
				</div>
				<div id="bus-category-top-options" class="no-bg margin-top-0">
					<div class="margin-top-10">
						<a href="#" class="white-link">Yoga</a>
					</div>
					<div class="margin-top-10">
						<a href="#" class="white-link">Gyms</a>
					</div>
					<div class="margin-top-10">
						<a href="#" class="white-link">Martial Arts</a>
					</div>
					<div class="margin-top-10">
						<a href="#" class="white-link">Boxing</a>
					</div>
					<div class="margin-top-10">
						<a href="#" class="white-link">Rock Climbing</a>
					</div>
					<div class="margin-top-10">
						<a href="#" class="white-link">Pilates</a>
					</div>
					<div class="margin-top-10">
						<a href="#" class="white-link">Dance</a>
					</div>
					<div class="margin-top-10">
						<a href="#" class="white-link">Other</a>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="medium-title gray-text regular-weight">
					Business Owners
				</div>
				<div class="margin-top-10">
					<a href="/business/learn-more" class="white-link">Features</a>
				</div>
				<div class="margin-top-10">
					<a href="/subscribe" class="white-link">Signup</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/Footer-->