<!--Footer-->
<div class="footer-wrapper">
	<div class="footer-container margin-top-20">
		<div class="row">
			<div class="col-sm-6">
				<div class="medium-white-title bottom-white-border">
					Links
				</div>

				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">About Us</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Site Feedback</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">FAQs</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Advertise With Us</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Contact Us</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Terms of Use</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Careers</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Site Map</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="medium-white-title bottom-white-border">
					Categories
				</div>

				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Yoga</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Rock Climbing</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Gyms</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Pilates</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Martial Arts</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Dance</a>
					</div>
				</div>
				<div class="row margin-top-10">
					<div class="col-sm-6">
						<a href="#" class="white-link">Boxing</a>
					</div>
					<div class="col-sm-6">
						<a href="#" class="white-link">Other</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/Footer-->