<!--Main-->
<input type="hidden" id="page_id" value="forgot_password" />
<%= form_tag("/login") do end %>
<div class="container margin-top-50 margin-bottom-50">
	<div id="error-container" class="small-container" style="display:none;">
		<div id="reset-error-text" class="alert alert-danger"></div>
	</div>

	<div id="reset-confirmation" class="extra-large-title txt-center hide">
		Your password has been successfully reset. Please <a href="/login">log in</a>.
	</div>

	<div id="step1" class="login-wrapper">
		<div class="bold">
			Enter your email address
		</div>
		<div class="margin-top-20">
			<input id="reset-email" type="text" class="form-control" placeholder="Email Address" />
		</div>
		<div class="margin-top-20 txt-center">
			<a href="#" id="step1-button" class="btn btn-primary">Reset Your Password</a>
		</div>
	</div>
	<div id="step2" class="login-wrapper hide">
		<div class="bold">
			Check your email and enter your reset token here
		</div>
		<div class="margin-top-20">
			<input id="reset-token" type="text" class="form-control" placeholder="Reset Token" />
		</div>
		<div class="margin-top-20 txt-center">
			<a href="#" id="step2-button" class="btn btn-primary">Select New Password</a>
		</div>
	</div>
	<div id="step3" class="login-wrapper hide">
		<div class="bold">
			Enter your new password
		</div>
		<div class="margin-top-20">
			<input id="new-password-1" type="password" class="form-control" placeholder="New Password" />
		</div>
		<div class="margin-top-20">
			<input id="new-password-2" type="password" class="form-control" placeholder="Confirm New Password" />
		</div>
		<div class="margin-top-20 txt-center">
			<a href="#" id="step3-button" class="btn btn-primary">Confirm New Password</a>
		</div>
	</div>
</div>
<!--/Main-->