<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-3">
			<div>
				<a href="#">What is Find My Fitness</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Contact Us</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Careers</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Advertise with Us</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Terms of Use</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Privacy Policy</a>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="large-title">
				About
			</div>
			<div class="margin-top-20">
				Find My Fitness is an online resource aimed towards individuals seeking healthier lifestyles through the promotion of physical activity. We know results decline as our bodies fall accustom to a routine, therefore we understand your need to seek change. Our site offers a directory of businesses to help you find alternative options when you need to add variation to your workouts. Check out our list of events; perhaps a marathon will catch your eye and it'll be your next conquest. We also offer a blog where you can follow and connect with other users, share your stories, share your recipes and share your progress. Basically, we want you to post anything and everything regarding health and fitness.<br><br>

				We all need a little support and Find My Fitness gives you the perfect platform to find what you need, connect and share with others.
			</div>
		</div>
	</div>
</div>
<!--/Main-->