<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<%= render "partials/sidebars/inner_page_sidebar" %>
		<div class="col-sm-9">
			<div class="large-title">
				About
			</div>
			<div class="margin-top-20">
				Find My Fitness is an online resource aimed towards individuals seeking healthier lifestyles through the promotion of physical activity. We know results decline as our bodies fall accustom to a routine, therefore we understand your need to seek change. Our site offers a directory of businesses to help you find alternative options when you need to add variation to your workouts. Check out our list of events; perhaps a marathon will catch your eye and it'll be your next conquest. We also offer a blog where you can follow and connect with other users, share your stories, share your recipes and share your progress. We encourage you to post anything and everything related to health and fitness.
				<br><br>
				We all need a little support and Find My Fitness gives you the perfect platform to find what you need to improve your health and connect with others who have the same goals.
			</div>
		</div>
	</div>
</div>
<!--/Main-->