<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<%= render "partials/sidebars/inner_page_sidebar" %>
		<div class="col-sm-9">
			<div class="large-title">
				Advertise
			</div>
			<div class="margin-top-20">
				We offer custom advertising platforms. Please send all inquires to <a href="mailto:advertise@findmyfitness.com">advertise@findmyfitness.com</a>.
			</div>
		</div>
	</div>
</div>
<!--/Main-->