<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-3">
			<div>
				<a href="#">What is Find My Fitness</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Contact Us</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Careers</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Advertise with Us</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Terms of Use</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Privacy Policy</a>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="large-title">
				Careers
			</div>
			<div class="margin-top-20">
				We are always looking for great talent. Feel free to send a cover letter and your resume to <a href="mailto:careers@findmyfitness.com">careers@findmyfitness.com</a>.
			</div>
		</div>
	</div>
</div>
<!--/Main-->