<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<%= render "partials/sidebars/inner_page_sidebar" %>
		<div class="col-sm-9">
			<div class="large-title">
				Contact
			</div>
			<div class="margin-top-20">
				If you have any questions or issues with your account, please send us an email at <a href="mailto:support@findmyfitness.com">support@findmyfitness.com</a>. We will try to respond to all emails within 24 hours.
			</div>
		</div>
	</div>
</div>
<!--/Main-->