<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-3">
			<div>
				<a href="#">What is Find My Fitness</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Contact Us</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Careers</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Advertise with Us</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Terms of Use</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Privacy Policy</a>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="large-title">
				Contact
			</div>
			<div class="margin-top-20">
				If you have any questions or issues with your account, please send us an email at <a href="mailto:support@findmyfitness.com">support@findmyfitness.com</a>. We will try to respond to all emails within 24 hours.
			</div>
		</div>
	</div>
</div>
<!--/Main-->