<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin:0px 0px 75px 85px;padding: 0px;border: none;width: 100%;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 12px;padding: 0px;border:none;width: 719px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 18px 0px 0px 96px;padding: 0px;border:none;width: 484px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:491px;left:0px;z-index:-1;width:1px;height:37px;}
#page_1 #dimg1 #img1 {width:1px;height:37px;}




#page_2 {position:relative; overflow: hidden;margin: 76px 0px 93px 94px;padding: 0px;border: none;width: 722px;}
#page_2 #id_1 {border:none;margin: 0px 0px 0px 8px;padding: 0px;border:none;width: 714px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 12px 0px 0px 0px;padding: 0px;border:none;width: 722px;overflow: hidden;}





#page_3 {position:relative; overflow: hidden;margin: 76px 0px 92px 145px;padding: 0px;border: none;width: 671px;}





#page_4 {position:relative; overflow: hidden;margin: 76px 0px 97px 95px;padding: 0px;border: none;width: 721px;}
#page_4 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 721px;overflow: hidden;}
#page_4 #id_2 {border:none;margin: 14px 0px 0px 8px;padding: 0px;border:none;width: 713px;overflow: hidden;}





#page_5 {position:relative; overflow: hidden;margin: 76px 0px 303px 81px;padding: 0px;border: none;width: 735px;}





.ft0{font: 16px 'Arial';line-height: 18px;}
.ft1{font: bold 24px 'Arial';line-height: 29px;}
.ft2{font: bold 16px 'Arial';line-height: 19px;}
.ft3{font: bold 19px 'Arial';line-height: 22px;}
.ft4{font: 15px 'Arial';line-height: 19px;}
.ft5{font: 16px 'Arial';text-decoration: underline;color: #2f4da8;line-height: 19px;}
.ft6{font: 16px 'Arial';line-height: 19px;}
.ft7{font: 15px 'Arial';line-height: 20px;}
.ft8{font: 16px 'Arial';line-height: 20px;}
.ft9{font: bold 15px 'Arial';line-height: 20px;}
.ft10{font: 15px 'Arial';text-decoration: underline;color: #0000ff;line-height: 19px;}
.ft11{font: 13px 'Calibri';line-height: 17px;}
.ft12{font: italic 16px 'Arial';line-height: 19px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 228px;margin-top: 59px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 238px;margin-top: 17px;margin-bottom: 0px;}
.p3{text-align: left;padding-right: 106px;margin-top: 18px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 12px;margin-top: 19px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 48px;padding-right: 92px;margin-top: 19px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 84px;margin-top: 15px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 96px;padding-right: 101px;margin-top: 19px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 84px;margin-top: 13px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 84px;padding-right: 109px;margin-top: 18px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 79px;margin-top: 0px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 79px;padding-right: 98px;margin-top: 18px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 43px;padding-right: 130px;margin-top: 16px;margin-bottom: 0px;}
.p13{text-align: left;margin-top: 15px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 43px;padding-right: 95px;margin-top: 18px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 79px;margin-top: 15px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 79px;padding-right: 102px;margin-top: 19px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 79px;margin-top: 16px;margin-bottom: 0px;}
.p18{text-align: justify;padding-left: 79px;padding-right: 102px;margin-top: 18px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 79px;margin-top: 12px;margin-bottom: 0px;}
.p20{text-align: left;padding-left: 79px;padding-right: 96px;margin-top: 19px;margin-bottom: 0px;}
.p21{text-align: left;padding-right: 110px;margin-top: 0px;margin-bottom: 0px;}
.p22{text-align: left;padding-left: 36px;margin-top: 14px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 36px;padding-right: 93px;margin-top: 18px;margin-bottom: 0px;}
.p24{text-align: left;padding-left: 36px;padding-right: 101px;margin-top: 18px;margin-bottom: 0px;}
.p25{text-align: left;padding-left: 36px;margin-top: 16px;margin-bottom: 0px;}
.p26{text-align: left;padding-left: 36px;padding-right: 115px;margin-top: 19px;margin-bottom: 0px;}
.p27{text-align: left;padding-left: 36px;padding-right: 104px;margin-top: 19px;margin-bottom: 0px;}
.p28{text-align: left;padding-left: 36px;padding-right: 95px;margin-top: 19px;margin-bottom: 0px;}
.p29{text-align: left;padding-left: 86px;margin-top: 0px;margin-bottom: 0px;}
.p30{text-align: left;padding-left: 86px;padding-right: 102px;margin-top: 18px;margin-bottom: 0px;}
.p31{text-align: left;padding-left: 86px;margin-top: 16px;margin-bottom: 0px;}
.p32{text-align: left;padding-left: 86px;padding-right: 93px;margin-top: 19px;margin-bottom: 0px;}
.p33{text-align: left;margin-top: 22px;margin-bottom: 0px;}
.p34{text-align: left;padding-left: 50px;padding-right: 103px;margin-top: 19px;margin-bottom: 0px;}
.p35{text-align: left;padding-left: 50px;margin-top: 15px;margin-bottom: 0px;}
.p36{text-align: left;padding-left: 50px;padding-right: 105px;margin-top: 18px;margin-bottom: 0px;}
.p37{text-align: left;padding-left: 50px;padding-right: 99px;margin-top: 23px;margin-bottom: 0px;}
.p38{text-align: left;padding-left: 64px;padding-right: 93px;margin-top: 0px;margin-bottom: 0px;}
.p39{text-align: left;padding-left: 14px;margin-top: 15px;margin-bottom: 0px;}
.p40{text-align: left;padding-left: 64px;padding-right: 92px;margin-top: 19px;margin-bottom: 0px;}
.p41{text-align: left;padding-left: 7px;margin-top: 15px;margin-bottom: 0px;}
.p42{text-align: left;padding-left: 64px;padding-right: 103px;margin-top: 18px;margin-bottom: 0px;}
.p43{text-align: left;padding-left: 64px;margin-top: 15px;margin-bottom: 0px;}
.p44{text-align: left;padding-left: 64px;padding-right: 531px;margin-top: 0px;margin-bottom: 0px;}
.p45{text-align: left;padding-left: 64px;margin-top: 0px;margin-bottom: 0px;}
.p46{text-align: left;margin-top: 34px;margin-bottom: 0px;}
.p47{text-align: left;padding-left: 64px;padding-right: 101px;margin-top: 18px;margin-bottom: 0px;}




</STYLE>

<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<%= render "partials/sidebars/inner_page_sidebar" %>
		<div class="col-sm-9">
			<DIV id="page_1">
				<DIV id="dimg1">
				<IMG src="Privacy%20Policy%207-1-15_images/Privacy%20Policy%207-1-151x1.jpg" id="img1">
				</DIV>


				<DIV id="id_1">
				<P class="p0 ft0">Revised July 1, 2015</P>
				<P class="p1 ft1">Find My Fitness</P>
				<P class="p2 ft1">Privacy Policy</P>
				<P class="p3 ft0">This Privacy Policy describes our policies on the collection, use, and disclosure of your information in connection with your use of our websites, emails, and mobile applications (the "<SPAN class="ft2">Site</SPAN>"). The terms "<SPAN class="ft2">we</SPAN>", "<SPAN class="ft2">us</SPAN>", and "<SPAN class="ft2">Find My Fitness</SPAN>" refer to Find My Fitness, LLC, a California limited liability company. When you use the Site, you consent to our collection, use, and disclosure of your information as described in this Privacy Policy.</P>
				<P class="p4 ft3">I. Information You Submit</P>
				<P class="p5 ft4">We may store the information you submit to or through the Site. We use the information to fulfill your requests, provide Site functionality, improve Site quality, personalize your experience, display relevant advertising, provide customer support, message you, back up our systems, allow for disaster recovery, and comply with legal obligations. Among the information you submit to or through the Site, please note:</P>
				<P class="p6 ft3">A. Account Registration</P>
				<P class="p7 ft6">You must provide a valid email address in order to sign up for an Account on the Site. In addition, <SPAN class="ft5">other information may be requested, depending on the type of account being established, and </SPAN>you may provide us with your full name. When you sign up for a Find My Fitness account, we opt you in to receive emails from other Find My Fitness users, business owners and Find My Fitness by default. Note that you cannot opt out of receiving required administrative or legal notices. If you feel that an unauthorized account has been created depicting you or your likeness, you can request its removal by contacting us at support@findmyfitness.com.</P>
				<P class="p8 ft3">B. Public Content</P>
				<P class="p9 ft6">Your reviews, tips, photos, <NOBR>check-ins,</NOBR> message board posts, bookmarks, friends, lists, compliments, account profile (including your first name and last initial, but excluding your other account registration information), and other content you post to the Site are meant for public consumption. We may display this content on the Site, and further distribute it to a wider audience through third party sites and services.</P>
				<P class="p6 ft3">C. Messaging</P>
				</DIV>
				<DIV id="id_2">
				<P class="p0 ft7">If you exchange messages with others through the Site, we may store these messages in order to deliver them and allow you to manage them.</P>
				</DIV>
				</DIV>
				<DIV id="page_2">


				<DIV id="id_1">
				<P class="p10 ft3">D. Credit Card Purchases</P>
				<P class="p11 ft6">If you purchase business advertising, offers, or other Find My Fitness products or services online, we may collect and store billing and credit card information. This information will only be shared with third parties who perform tasks required to complete the purchase transaction (such as fulfilling orders and processing credit card payments). When you submit credit card numbers, we encrypt that information using industry standard technology.</P>
				<P class="p12 ft8">For more information on controlling your personal data, please see Sections 4 and 5, below.</P>
				<P class="p13 ft3">II. Information We Collect</P>
				<P class="p14 ft6">In addition to the information you submit to or through the Site, we also collect and store information from and about you in the course of your use of the Site. We use this information to analyze and track user behavior, personalize your experience, associate it with other information about you, provide the functionality and improve the quality of the Site, and may use it to display relevant advertising. For example:</P>
				<P class="p15 ft3">A. Location</P>
				<P class="p16 ft6">We may collect and store information about your location if you enable your computer or mobile device to send us location information. You may be able to change the settings on your computer or mobile device to prevent it from providing us with such information.</P>
				<P class="p17 ft3">B. Activity</P>
				<P class="p18 ft7">We may collect and store information related to you and your use of the Site, such as your browser type, IP address, unique device identifier, the phone numbers and names of businesses that you call through the Site, requested URL, referring URL, browser language, the pages you view, and the date and time of your visit.</P>
				<P class="p19 ft3">C. Find My Fitness Cookies</P>
				<P class="p20 ft4">We may use cookies, web beacons, local shared objects (sometimes called "flash cookies"), and similar technology in connection with your use of the Site (collectively referred to herein as <SPAN class="ft9">"Cookies"</SPAN>). Cookies may have unique identifiers, and reside, among other places, on your computer, in emails we send to you, and on our web pages. Cookies may transmit information about you and your use of the Site, such as your browser type, search preferences, data relating to advertisements that have been displayed to you or that you have clicked on, and the date and time of your use. You can disable some (but not all) Cookies in your device or browser settings, but doing so may affect your ability to use the Site.</P>
				</DIV>
				<DIV id="id_2">
				<P class="p0 ft3">III. Third Parties</P>
				</DIV>
				</DIV>
				<DIV id="page_3">


				<P class="p21 ft8">We do not rent, share, sell or trade personally identifiable information with third parties for their direct marketing purposes. That said, we do work with third parties and they may have access to some of your information:</P>
				<P class="p22 ft3">A. Advertising</P>
				<P class="p23 ft4">We allow third parties who provide advertising services to use Cookies, as defined above, in connection with your use of the Site. As a result, they may collect and store the same type of information and use it for the same type of purposes as described under Cookies above, and they may be able to associate the information they collect with other information they may have about you. We do not necessarily have access to or control over the Cookies they use. Nevertheless, you may be able to <NOBR>opt-out</NOBR> of some of their practices by visiting <SPAN class="ft10">Network Advertising Initiative</SPAN>, <SPAN class="ft10">Omniture</SPAN>, <SPAN class="ft10">Aperture</SPAN>, <SPAN class="ft10">PrivacyChoice</SPAN><SPAN class="ft11">, </SPAN>among others. Please note that opting out does not prevent you from receiving advertisements.</P>
				<P class="p22 ft3">B. Service Providers</P>
				<P class="p24 ft6">We outsource some of our technical and customer support, tracking and reporting functions, quality assurance testing, payment processing functions, and other services to third parties. We may share information from or about you with them so that they can perform their services.</P>
				<P class="p25 ft3">C. Aggregate Information</P>
				<P class="p26 ft6">We may share user information in the aggregate with third parties, such as advertisers and content distributors. For example, we may disclose the number of users that have been exposed to, or clicked on, advertisements.</P>
				<P class="p25 ft3">D. Business Transfers</P>
				<P class="p27 ft6">We may share information from or about you with subsidiaries, joint ventures, or other companies under common control, in which case we will require them to honor this Privacy Policy. If another company acquires Find My Fitness or all or substantially all of our assets, that company will possess the same information, and will assume the rights and obligations with respect to that information as described in this Privacy Policy.</P>
				<P class="p22 ft3">E. Investigations</P>
				<P class="p28 ft6">We may investigate and disclose information from or about you if we have a good faith belief that such investigation or disclosure is (a) reasonably necessary to comply with legal process and law enforcement instructions and orders, such as a search warrant, subpoena, statute, judicial proceeding, or other legal process served on us; (b) helpful to prevent, investigate, or identify possible wrongdoing in connection with the Site; or (c) protect our rights, reputation, property, or that of our users affiliates, or the public.</P>
				</DIV>
				<DIV id="page_4">


				<DIV id="id_1">
				<P class="p29 ft3">F. Links</P>
				<P class="p30 ft6">The Site may contain links to unaffiliated third party websites. Except as set forth herein, we do not share your personal information with them, and are not responsible for their privacy practices. We suggest you read the privacy policies on all such third party websites.</P>
				<P class="p31 ft3">G. Facebook and Twitter</P>
				<P class="p32 ft0">If you are logged into Facebook, and you access but are not logged into the Site, we may receive information from Facebook to make it easier for you to create an account on the Site and show you relevant content from your Facebook friends. This information personalizes your experience and helps you create a Find My Fitness account. To learn more about this feature and how to block aspects of it, please review your Facebook settings. You can also connect your Find My Fitness account to your accounts on third party services like Facebook or Twitter, in which case we may collect and store information identifying your account with the third party service. We use the information to help you connect and share public content with your friends and followers.</P>
				<P class="p33 ft3">IV. Controlling Your Personal Data</P>
				<P class="p34 ft4">Other users may be able to identify you, or associate you with your user account if you include personal information in your Public Content. You can reduce the risk of being personally identified by using the Site pseudonymously, though doing so could detract from the credibility of your contributions to the Site. Users can also use the User Search feature to find one another based on their names or email addresses.</P>
				<P class="p35 ft3">Data Retention and Account Termination</P>
				<P class="p36 ft0">The information we obtain from or about you may be processed and stored in the United States of America. We may keep it as long as is permitted or required under the law. If you terminate your account, we may retain your data for a period of 5 years (or longer if required by law) in our active systems in order to ensure our ability to satisfy the authorized uses under this Privacy Policy. For example, we may use retained data to prevent, investigate, or identify possible wrongdoing in connection with the Site or to comply with legal obligations. Please note that information may exist in backup storage even after it has been removed from our active databases. You can request that your account be terminated in your account settings. When logged into your account, you can remove or edit reviews that you have uploaded to the Site by clicking on the respective links below the review.</P>
				<P class="p37 ft8">We will respond to requests relating to personal data sent from within the European Union according to the procedures mandated by the member state from where the request is sent. You will receive a response to your request within 30 days.</P>
				</DIV>
				<DIV id="id_2">
				<P class="p0 ft3">V. Children</P>
				</DIV>
				</DIV>
				<DIV id="page_5">


				<P class="p38 ft4">The Site is intended for general audiences and is not directed to children under 13. We do not knowingly collect personal information from children under 13. If you become aware that a child has provided us with personal information without parental consent, please contact us at support@findmyfitness.com. If we become aware that a child under 13 has provided us with personal information without parental consent, we take steps to remove such information and terminate the child's account.</P>
				<P class="p39 ft3">VI. Security</P>
				<P class="p40 ft4">We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. However, no method of transmission over the Internet or via mobile device, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</P>
				<P class="p41 ft3">VII. Dispute Resolution</P>
				<P class="p42 ft8">If you believe that Find My Fitness has not adhered to this Privacy Policy you may write to the Find My Fitness Privacy Officer at the following address:</P>
				<P class="p43 ft12">Find My Fitness, LLC.</P>
				<P class="p44 ft12">Attn: Privacy Officer 424 Clay Street]</P>
				<P class="p45 ft12">San Francisco, CA 94111</P>
				<P class="p45 ft12">United States of America</P>
				<P class="p45 ft12">Email: support@findmyfitness.com</P>
				<P class="p46 ft3">VIII. Modifications to This Privacy Policy</P>
				<P class="p47 ft6">We may revise this Privacy Policy from time to time. The most current version of the Privacy Policy will govern our use of your information and will be posted on the Site. If we make material changes to this Privacy Policy, we will notify you by email or by posting a notice on the Site prior to the effective date of the changes. By continuing to access or use the Site after those changes become effective, you agree to be bound by the revised Privacy Policy.</P>
				</DIV>
		</div>
	</div>
</div>
<!--/Main-->
