<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-3">
			<div>
				<a href="#">What is Find My Fitness</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Contact Us</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Careers</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Advertise with Us</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Terms of Use</a>
			</div>
			<div class="margin-top-20">
				<a href="#">Privacy Policy</a>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="large-title">
				Terms and Conditions of Use
			</div>
			<div class="margin-top-20">
				<p>
					These Terms and Conditions of Use (the "Terms") govern your access to and use of all Find My
					Fitness, LLC ("Find My Fitness") websites and applications that link to or reference these 
					Terms (the "Site"). By accessing or using the Site, you are agreeing to these Terms and 
					concluding a legally binding contract with Find My Fitness. Do not access or use the Site if you 
					are unwilling or unable to be bound by the Terms.
				</p>
			</div>
		</div>
	</div>
</div>
<!--/Main-->