<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<%= render "partials/sidebars/inner_page_sidebar" %>
		<div class="col-sm-9">
			<div class="large-title">
				Terms and Conditions of Use
			</div>
			<div class="margin-top-20">
				<p>
					These Terms and Conditions of Use (the "Terms") govern your access to and use of all Find My
					Fitness, LLC ("Find My Fitness") websites and applications that link to or reference these 
					Terms (the "Site"). By accessing or using the Site, you are agreeing to these Terms and 
					concluding a legally binding contract with Find My Fitness. Do not access or use the Site if you 
					are unwilling or unable to be bound by the Terms.
				</p>
			</div>

			<div class="margin-top-20">
				<ul>
					<li>Definitions
					<ul>
						<li>Parties
							<ul>
								<li>
									"You" and "your" refer to you, as a user of the Site. A "User" is someone who
accesses, browses, crawls, scrapes, posts on, or in any way uses the Site,
including paying subscribers to the Site (“Business Account Users”). "We",
"us", and "our" refer to Find My Fitness, LLC, a California limited liability
company.
								</li>
							</ul>
						</ul>
						</li>
					</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--/Main-->