#business-learn-banner {
	background:url(/assets/runner.jpg) no-repeat;
	background-size:cover !important;
	width:100%;
	height:400px;
	position:relative;
}

.business-learn-cta {
	position:absolute;
	top:18%;
	left:13%;
	color:#FFF;
}