<div class="margin-top-10" id="bus-category-top-options">
	<ul class="category-nav">
		<li>
			Categories
		</li>
		<li>
			<a href="#">Yoga</a>
		</li>
		<li>
			<a href="#">Gyms</a>
		</li>
		<li>
			<a href="#">Martial Arts</a>
		</li>
		<li>
			<a href="#">Boxing</a>
		</li>
		<li>
			<a href="#">Rock Climbing</a>
		</li>
		<li>
			<a href="#">Pilates</a>
		</li>
		<li>
			<a href="#">Dance</a>
		</li>
		<li>
			<a href="#">For Kids</a>
		</li>
		<li>
			<a href="#">Other</a>
		</li>
	</ul>
</div>