<%= form_tag("/business-signup") do %>
    <input type="hidden" name="business[business_hash]" value="<%= generate_random_md5 %>" />
    <div id="add-business-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add a Business</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="bold">
                                Business Name
                            </div>
                            <div class="margin-top-10">
                                <input name="business[name]" type="text" class="form-control" required />
                            </div>
                            <div class="bold margin-top-20">
                                Business Address
                            </div>
                            <div class="margin-top-10">
                                <input name="business[address]" type="text" class="form-control" placeholder="Address" required />
                            </div>
                            <div class="row margin-top-20">
                                <div class="col-sm-4">
                                    <input name="business[city]" type="text" class="form-control" placeholder="City" required />
                                </div>
                                <div class="col-sm-4">
                                    <%= select_tag("business[state]", options_for_select(us_states), class: "form-control", required: true) %>
                                </div>
                                <div class="col-sm-4">
                                    <input name="business[zipcode]" type="text" class="form-control" placeholder="Zipcode" required />
                                </div>
                            </div>
                            <div class="bold margin-top-20">
                                Business Hours
                            </div>
                            <div class="margin-top-10">
                                <input name="business[availability]" type="text" class="form-control" placeholder="Ex: M-F 8am to 9pm" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="bold">
                                Phone Number
                            </div>
                            <div class="margin-top-10">
                                <input name="business[phone]" type="tel" class="form-control" placeholder="Ex: 4156576475" />
                            </div>
                            <div class="bold margin-top-20">
                                Website
                            </div>
                            <div class="margin-top-10">
                                <input name="business[website]" type="text" class="form-control" placeholder="Ex: http://mygym.com" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Business</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<% end %>