<!--Main-->
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-2">
			<div class="left-sidebar-menu">
				<a href="#">Notifications</a>
				<a href="#">Your Reviews</a>
				<a href="#">Your Posts</a>
				<a href="#">Your Events</a>
				<a href="#">Your Photos</a>
				<a href="#">Your Saves</a>
			</div>
		</div>
		<div class="col-sm-10">
			<div class="profile-notification-entry active">
				<a href="#">Sarah P.</a> has commented on your post, <a href="#">10 Trails you Can't Miss</a> <span class="gray-text">16 minutes ago</span>
			</div>
			<div class="profile-notification-entry active">
				<a href="#">Sarah P.</a> has commented on your post, <a href="#">10 Trails you Can't Miss</a> <span class="gray-text">16 minutes ago</span>
			</div>
			<div class="profile-notification-entry">
				<a href="#">Sarah P.</a> has commented on your post, <a href="#">10 Trails you Can't Miss</a> <span class="gray-text">16 minutes ago</span>
			</div>
			<div class="profile-notification-entry">
				<a href="#">Sarah P.</a> has commented on your post, <a href="#">10 Trails you Can't Miss</a> <span class="gray-text">16 minutes ago</span>
			</div>
		</div>
	</div>
</div>
<!--/Main-->