<!--Main--> 
<div class="container margin-top-20 margin-bottom-50">
	<div class="row">
		<div class="col-sm-2">
			<%= render "partials/sidebars/profile_left_sidebar_public" %>
		</div>
		<div class="col-sm-10">
			
		</div>
	</div>
</div>

<%= render "partials/modals/follow_confirm_modal" %>